---
import GithubLogoDark from '@/assets/github-dark.svg';
import GitHubLogo from '@/assets/github.svg';
import Badge from '@/components/ui/Badge.astro';
import Button from '@/components/ui/Button.astro';
import Card from '@/components/ui/Card.astro';
import CardContent from '@/components/ui/CardContent.astro';
import CardDescription from '@/components/ui/CardDescription.astro';
import CardFooter from '@/components/ui/CardFooter.astro';
import CardHeader from '@/components/ui/CardHeader.astro';
import CardTitle from '@/components/ui/CardTitle.astro';
import projects from '@/data/projects.json';
import { Image } from 'astro:assets';
---

<section
  id="projects"
  class="py-20"
>
  <div class="container px-4 mx-auto animate-fade-up lg:animate-fade-left">
    <h2 class="text-4xl font-regular tracking-tighter text-center mb-12 text-foreground">
      Featured Projects
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        projects.map(({ title, description, image: { alt, src }, tags, link }) => (
          <Card>
            <Image
              src={src}
              alt={alt}
              width={400}
              height={400}
              class="w-full h-48 rounded-t-lg object-cover"
            />
            <CardHeader>
              <CardTitle>{title}</CardTitle>
              <CardDescription>{description}</CardDescription>
            </CardHeader>
            <CardContent>
              <div class="flex flex-wrap gap-2">
                {tags.map((tag) => (
                  <Badge>{tag}</Badge>
                ))}
              </div>
            </CardContent>
            <CardFooter class="flex items-center justify-end">
              <Button
                variant="outline"
                size="icon"
                class="outline-none border-none bg-transparent shadow-none"
              >
                <a
                  href="https://github.com/noistnt/Pokemon-Client"
                  target="_blank"
                  rel="noreferrer"
                >
                  <Image
                    src={GitHubLogo}
                    alt="GitHub Logo"
                    width={18}
                    height={18}
                    class="dark:hidden"
                  />
                  <Image
                    src={GithubLogoDark}
                    alt="GitHub Logo"
                    width={18}
                    height={18}
                    class="hidden dark:block"
                  />
                </a>
              </Button>
              <Button
                variant="link"
                class="tracking-tight leading-none px-2"
              >
                <a href={link}>View Demo →</a>
              </Button>
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </div>
</section>
